[package]
name = "twirp"
version = "0.3.0"
authors = ["The blackbird team <support@github.com>"]
edition = "2021"
description = "An async-compatible library for Twirp RPC in Rust."
readme = "README.md"
keywords = ["twirp"]
categories = ["network-programming"]
repository = "https://github.com/github/twirp-rs"

[features]
test-support = []

[dependencies]
async-trait = "0.1"
axum = "0.7"
bytes = "1.5"
futures = "0.3"
http = "1.0"
http-body-util = "0.1"
hyper = { version = "1.1", default-features = false }
prost = "0.12"
reqwest = { version = "0.11", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "1.33", default-features = false }
tower = { version = "0.4", default-features = false }
url = { version = "2.5" }
